<a href="https://colab.research.google.com/github/VijayRajKumarM/ds_project/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd 
import random

In [8]:
rng = np.random.RandomState(42)
ser = pd.Series(rng.randint(0,15,15))
arr = np.array(rng.randint(0,10,15))
print(arr)
print(ser)

[4 3 7 7 2 5 4 1 7 5 1 4 0 9 5]
0      6
1      3
2     12
3     14
4     10
5      7
6     12
7      4
8      6
9      9
10     2
11     6
12    10
13    10
14     7
dtype: int64

In [16]:
no_of_days = np.array(rng.randint(1,15,1000))
l=["Hyderabad","Chennai","Delhi","Kolkata","Mumbai","Pune","Lucknow","Coimbatore","Ahmedabad","Guwahati"]
l1 = ["Spicejet","Indigo","AirIndia","Go Air"]
lst=[]
lst1=[]
lst2=[]
lst3=[]
lst4=[]
lst5=[]
lst6=[]
lst7=[]
lst8=[]
for i in range(0,1000):
  lst.append(round(random.uniform(0.0,7500.5),3))
  lst1.append(round(random.uniform(0.0,950.75),3))
  lst2.append(round(random.uniform(0.0,2500.67),3))
  lst3.append(round(random.uniform(0.0,1000.00),3))
  lst4.append(round(random.uniform(0.0,500.45),3))
  lst5.append(round(random.uniform(0.0,104.00),3))
  lst6.append(round(random.uniform(0.0,12000.56),3))
  lst7.append(random.choice(l))
  lst8.append(random.choice(l1))
airfare = np.array(lst)
othertrans=np.array(lst1)
accom=np.array(lst2)
meals = np.array(lst3)
incidentals =np.array(lst4)
hospitality = np.array(lst5)
miscellaneous = np.array(lst6)
dest=np.array(lst7)
airline = np.array(lst8)
date = np.array(rng.randint(0,365,1000))

In [19]:
df = pd.DataFrame({'No_Of_Days':no_of_days,'Destination':dest,'Airfare':airfare,'Othertransport':othertrans,'Accomodation':accom,'Meals':meals,'Hospitality':hospitality,'Miscellaneous':miscellaneous,'Airline':airline,'Date':date})
print(df)
df.to_csv('trip_data.csv')

     No_Of_Days Destination   Airfare  Othertransport  Accomodation    Meals  \
0             3       Delhi  5723.042         915.485      1055.386   82.791
1             4     Lucknow  2799.270         751.740      1971.459  337.699
2             4     Kolkata  6058.310         219.369       723.868   19.791
3             5    Guwahati  7035.082          27.704      1005.794  148.779
4            14   Hyderabad  6882.546         361.832       210.537  440.773
..          ...         ...       ...             ...           ...      ...
995           4       Delhi   559.093         598.613      2354.987  527.504
996          11    Guwahati  6733.324         934.115      2300.561  512.709
997          11       Delhi    63.845         927.337      2106.614  542.883
998           5   Ahmedabad  1424.158         920.568       985.623  854.308
999           3     Lucknow  2420.980         516.316      1325.341  643.363

     Hospitality  Miscellaneous   Airline  Date
0        102.982       8280.010  AirIndia   303
1         31.768       8022.839    Go Air   290
2         21.786       4570.694  AirIndia    85
3         95.199       4188.150    Go Air   165
4          1.809       1325.667    Go Air   113
..           ...            ...       ...   ...
995       15.860        916.867  AirIndia   141
996       68.251       9457.025  AirIndia   316
997       74.895        941.564  Spicejet   198
998       93.595       2600.720    Indigo    45
999       24.592       3677.650  Spicejet   287

[1000 rows x 10 columns]

# New Section